

.header {
    background: var(--bacground-header);
    border: 1px solid #ececec;
& .container {
    display: flex;
    }
&-stroke {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 125ms;
    }
&-info-stud,
&-info-port {
    margin-right: 50px;
    }
    
    
&-info-cont {
    margin-right: 0;
    }
    
&-info-num,
&-info-mail {
    margin-right: 50px;
    margin-top: 30px;
    }
    
&-info-num {
    margin-right: 0;
    }
    
    
&-info {
    display: flex;
    }
    
&-list {
    display: flex;
    margin-left: auto;
    }
    
&-text {
    display: flex;
    align-items: center;
    }
    
&-mail-icon {
    fill: currentColor;
    margin-right: 10px;
    }
    
    
&-phone-icon {
    fill: currentColor;
    margin-right: 10px;
    }
&-mail-icon:hover {
    color: #2196F3;
    }
    
&-stroke:hover {
    color: #2196F3;
    }
}



.logo-header-first {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 100px;
}


.logo-header {
    color: #2196F3;
}



.current,
.header-link:hover,
.header-link:focus {
    color: var(--color-logo);
}




.mail,
.number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.name-work,
.mail,
.number,
.mail-footer,
.number-footer {
    color: #757575;
    cursor: pointer;
}


.mail:hover {
    color: #2196F3;
}


.number:hover {
    color: #2196F3;
}